/* Set universal font */
* {
    font-family: 'Open Sans', sans-serif;
}

/* Set document background color */
body {
    background-color: rgb(242, 236, 231);
}

.courgette {
    font-family: 'Courgette', cursive !important;
}

/* adjust for colors */
.macurh {
    color: #1F409A;
}

.bg-macurh {
    background-color: #1F409A;
}

.btn-primary {
    border-color: rgb(20, 44, 109);
}

.btn-primary:hover {
    background-color: rgb(20, 44, 109);
    border-color: rgb(20, 44, 109);
}

/* Rule for max width */
.mw-800 {
    max-width: 800px;
}

.mw-950 {
    max-width: 950px;
}

.mw-1100 {
    max-width: 1100px;
}

/* Style alert */
.custom-alert {
    margin-bottom: 0px; 
    background-color: rgb(179, 22, 22); 
    border-color: rgb(141, 13, 13);
}

/* Adjust navbar z-index */
.navbar {
    z-index: 1;
}

/* Give header background gradient */
.navbar {
    background: linear-gradient(0deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.7) 100%);
}

/* Move carousel up to top of page */
.carousel {
    top: -98px;
    z-index: 0;
}

.carousel-image {
    object-fit: cover;
    height: 57rem;
}

/* Add shadow gradient from bottom of carousel */
/* .carousel-item:after {
    z-index: 999999;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(0deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 100%);
} */

/* Add text shadow to carousel captions */
.carousel-text-shadow {
    text-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

/* Adjust hero label */
.hero-label {
    background-color: rgba(31,64,154,0.4);
    background: radial-gradient(circle, rgba(31,64,154,0.3) 0%, rgba(31,64,154,0.5) 100%);
    top: -1010px;
    height: 57rem;
    padding-top: 200px;
    margin-bottom: -1000px;
}

/* Make each square full size in call-to-action */
.full-size {
    width: 100%;
    height: 500px;
}

/* Hide image on small screens */
@media (max-width: 700px) {
    .display-none-sm {
        display: none;
    }
}

/* Add a glare behind form */
.bg-glare {
    overflow: hidden;
}

.bg-glare:after {
    content:'';
    position: absolute;
    top: 0px;
    left: -100%;
    width: 200px;
    height: 200%;
    background: rgba(255, 255, 255, .2);
    transform: skewX(-30deg);
    transition: all .5s ease-in-out;
}

.bg-glare:hover:after {
    left: 100%;
}

/* Custom styling of footer links */
.footer-link {
    color: white;
}





.svg1 {
    margin-top: -1300px;
}