<!DOCTYPE html>
<html>
  <head>
    <title>News Story Template</title>
    <style>[v-cloak] { display: none; }</style>
  </head>
  <body>
    <div id="news-template" v-cloak>
      
      <!-- Main Story -->
      {{ story.title }}
      {{ story.subtitle }}
      {{ story.date }}
      <span v-for="tag in story.tags">{{ tag }}</span>
      <img v-bind:src="story.image.url">
      {{ story.image.caption }}
      <a v-bind:href="story.source.url">{{ story.source.name }}</a>
      <span v-html="story.teaser"></span>
      <span v-html="story.content"></span>

      <!-- Related Stories-->
      <ul>
        <li v-for="relatedStory in relatedStories">
          <div v-on:click="load(relatedStory)">
            {{ relatedStory.title }}
            <img v-bind:src="relatedStory.image.url">
          </div>
        </li>
      </ul>

      <!-- Useful debugging info, you can comment this section out when you don't need it. -->
      <pre>The story object: {{ story | json }}</pre>
      <pre>The relatedStories array: {{ relatedStories | json }}</pre>

    </div>

    <!-- Scripts here are what load the Vue library, and the actual story content. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script>
  </body>
</html>