/* * {
  margin: 0;
  padding: 0;
} */

/* body */

body {
  font-family: ff-meta-serif-web-pro, serif;
  margin: 0;
  padding: 0;
}



/* .component */

.component {
  padding: 30px 0;
}

section.component.content {
  padding-top: 0;
}



/* .safe-area */

.safe-area {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.safe-area > :first-child {
  margin-top: 0;
}

.safe-area > :last-child {
  margin-bottom: 0;
}



/* header (title, subtitle, and date) */

header.component {
  position: relative;
  padding-bottom: 0;
}

header.component img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  max-height: 400px;
}

header.component div.safe-area {
  margin-top: 200px;
}

div.title {
  background-color: rgb(255, 190, 0);
  box-shadow: 0px 10px 10px 3px rgba(0,0,0,0.07);
}



/* h1 (title) */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;

  margin: auto;
  padding: 30px 30px 0 30px;
  max-width: 90%;
}



/* h2 (subtitle) */

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: center;

  margin: auto;
  padding: 30px;
  max-width: 70%;
}

h2.hidden {
  padding: 0;
  padding-bottom: 30px;
}



/* h3 (date) */

div.info {
  padding: 30px 0 20px 0;
}

h3 {
  display: block;

  font-family: fira-sans, sans-serif;
  font-size: .8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);

  margin: 0;
  margin-top: .6rem;
}



/* .tags (tags) */

.tags {
  display: inline-block;

  padding: 10px;
  margin-right: 10px;

  font-size: .8rem;
  background-color: rgb(255, 190, 0);
}



/* .caption (image caption) */

.caption {
  display: inline;

  font-family: fira-sans, sans-serif;
  font-size: .8rem;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.65);
}



/* .articleSource (the source of the original article) */

.articleSource {
  font-family: fira-sans, sans-serif;
  font-size: .8rem;
  font-weight: 400;

  color: rgb(0, 60, 100);
}

.articleSource a:visited {
  color: rgb(0, 60, 100);
}



/* .teaser (teaser) */

div.line {
  width: 100%;
  border-top: solid 1px rgb(0, 60, 100);
}

div.line.hidden {
  display: none;
}

.teaser {
  font-family: fira-sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 30px 0;
}



/* .content (paragraphs) */

span.content p {
  font-size: 1rem;
  line-height: 1.6rem;

  padding-bottom: .5rem;
}



/* .content a (link inside content) */

.content a {
  color: rgb(0, 60, 100);
}

.content a:visited {
  color: rgb(0, 60, 100);
}



/* .relatedStory (list of related stories) */

h4 {
  font-family: fira-sans, sans-serif;
  font-size: 10pt;
  font-weight: 500;
  color: rgba(0, 0, 0, .65);

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.related-story-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
}

.related-story {
  width: 45%;
  margin: 2.5%;
  height: 250px;
  overflow: hidden;
}

p.relatedStoryTitle {
  font-weight: 700;

  margin: 0;
  padding: 0 0 5px 0;
  box-sizing: border-box;
}

.related-story-image-container img {
  width: 100%;
  object-fit: cover;
}
