/* body */

body {
  font-family: ff-meta-serif-web-pro, serif;
  margin: 0;
  padding: 0;
}



/* #news-template (all content) */

#news-template {
  margin: auto;
  width: 80%
}



/* div.header (title, subtitle, and date) */

.header {
  width: 100%;

  margin: auto;
  margin-top: 6rem;
}



/* h1 (title) */

h1 {
  font-size: 2.5rem;
  font-weight: 700;

  margin: 0;
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 2.5rem;

    max-width: 800px;
  }
}



/* h2 (subtitle) */

h2 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;

  margin-top: 1rem;
}

@media (min-width: 600px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.3rem;

    margin-top: 1rem;
  }
}

@media (min-width: 1000px) {
  h2 {
    font-size: 1.2rem;
    line-height: 2.3rem;

    max-width: 800px;

    margin-top: 1rem;
  }
}



/* h3 (date) */

h3 {
  display: inline-block;

  font-family: fira-sans, sans-serif;
  font-size: .8rem;
  font-weight: 400;

  color: rgba(0, 0, 0, .65);

  margin-top: 1rem;
  margin-right: 10px;
}

@media (min-width: 600px) {
  h3 {
    font-size: 1rem;

    margin-top: 1rem;
  }
}


/* .tags (tags) */

.tags {
  display: inline-block;

  padding: 10px;
  margin-right: 10px;

  font-size: .8rem;
  background-color: rgb(255, 190, 0);
}



/* #lineAboveImage (horizontal line above image) */

#lineAboveImage {
  width: 100%;
  background-color: black;

  border: .2rem solid black;

  margin: 1.5rem 0 1.5rem 0;
}

@media (min-width: 600px) {
  #lineAboveImage {
    margin: 2rem 0 2rem 0;
  }
}

@media (min-width: 1000px) {
  #lineAboveImage {
    margin: 2rem 0 2rem 0;

    max-width: 800px;
  }
}



/* img (image) */

#news-template img {
  width: 100%;
}



/* .caption (image caption) */

.caption {
  font-family: fira-sans, sans-serif;
  font-size: .8rem;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.65);
}



/* .articleSource (the source of the original article) */

.articleSource {
  display: block;

  font-family: fira-sans, sans-serif;
  font-size: .8rem;
  font-weight: 400;

  color: rgb(255, 190, 0);
}

.articleSource a:visited {
  color: rgb(255, 190, 0);
}



/* #lineAboveTeaser (horizontal line above teaser) */

#lineAboveTeaser {
  width: 100%;
  background-color: black;

  border: .2rem solid black;

  margin: 1.5rem 0 .5rem 0;
}

@media (min-width: 600px) {
  #lineAboveTeaser {
    margin: 2rem 0 1rem 0;
  }
}

@media (min-width: 1000px) {
  #lineAboveTeaser {
    margin: 2rem 0 1rem 0;

    max-width: 800px;
  }
}



/* .teaser (teaser) */

.teaser {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@media (min-width: 600px) {
  .teaser {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1000px) {
  .teaser {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .teaser p {
    max-width: 800px;
  }
}



/* #lineBelowTeaser (horizontal line below teaser) */

#lineBelowTeaser {
  width: 100%;
  background-color: black;

  border: .2rem solid black;

  margin: .5rem 0 1.5rem 0;
}

@media (min-width: 600px) {
  #lineBelowTeaser {
    margin: 1rem 0 2rem 0;
  }
}

@media (min-width: 1000px) {
  #lineBelowTeaser {
    margin: 1rem 0 2rem 0;

    max-width: 800px;
  }
}



/* .content (paragraphs) */

span.content p {
  font-size: 1rem;
  line-height: 1.6rem;

  padding-bottom: .5rem;
}

@media (min-width: 600px) {
  span.content p {
    font-size: 1.1rem;
    line-height: 2rem;

    padding-bottom: .4rem;
  }
}

@media (min-width: 1000px) {
  span.content p {
    font-size: 1.1rem;
    line-height: 2rem;

    padding-bottom: .4rem;

    max-width: 800px;
  }
}



/* .content a (link inside content) */

.content a {
  color: rgb(255, 190, 0);
}

.content a:visited {
  color: rgb(255, 190, 0);
}
