/* * {
  margin: 0;
  padding: 0;
} */

/* body */

body {
    font-family: ff-meta-serif-web-pro, serif;
    margin: 0;
    padding: 0;
  }
  
  
  
  /* .component */
  
  .component {
    padding: 40px 0;
  }
  
  section.component.content {
    padding-top: 0;
  }
  
  
  
  /* .safe-area */
  
  .safe-area {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
  }
  
  .safe-area > :last-child {
    margin-bottom: 0;
  }
  
  
  
  /* header (title, subtitle, and date) */
  
  header.component {
    position: relative;
    padding-bottom: 0;
  }
  
  header.component div.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
  }
  
  @media (max-width: 620px) {
    header.component div.image-container {
      height: 700px;
    }
  }
  
  header.component img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  
    max-height: 850px;
  }
  
  div.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
  
    background-color: rgba(0, 60, 100, .8);
    box-shadow: 0px 10px 10px 3px rgba(0,0,0,0.08);
    padding: 1px;
  }
  
  @media (max-width: 620px) {
    div.title {
      height: 700px;
    }
  }
  
  
  
  /* h1 (title) */
  
  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
  
    margin: 200px auto 30px auto;
    width: 80%;
    max-width: 800px;
  }
  
  @media (max-width: 620px) {
    h1 {
      margin-top: 160px;
    }
  }
  
  
  
  /* h2 (subtitle) */
  
  h2 {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.1rem;
  
    margin: 30px 0;
    padding-bottom: 50px;
  }
  
  h2.hidden {
    padding: 0;
    padding-bottom: 30px;
  }
  
  
  
  /* h3 (date) */
  
  div.info {
    padding: 30px 0 20px 0;
    margin-top: 530px;
  }
  
  @media (max-width: 620px) {
    div.info {
      margin-top: 680px;
    }
  }
  
  div.info .articleSource {
    float: left;
  }
  
  h3 {
    display: block;
    float: right;
  
    font-family: fira-sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
  
    margin: 0;
  }
  
  
  
  /* .tags (tags) */
  
  .tags {
    display: inline-block;
  
    padding: 10px;
    margin-right: 10px;
  
    font-size: 1rem;
    background-color: rgb(255, 190, 0);
  }
  
  
  
  /* .caption (image caption) */
  
  .caption {
    display: inline;
  
    font-family: fira-sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  
    color: rgba(0, 0, 0, 0.65);
  }
  
  
  
  /* .articleSource (the source of the original article) */
  
  .articleSource {
    font-family: fira-sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  
    color: rgb(0, 60, 100);
  }
  
  .articleSource a:visited {
    color: rgb(0, 60, 100);
  }
  
  
  
  /* .teaser (teaser) */
  
  div.line {
    width: 100%;
    border-top: solid 1px rgb(0, 60, 100);
  }
  
  div.line.hidden {
    display: none;
  }
  
  .teaser-box {
    background-color: rgb(0, 60, 100);
    padding: 30px;
    margin-bottom: 50px;
  }
  
  .teaser {
    font-family: fira-sans, sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: white;
  }
  
  
  
  /* .content (paragraphs) */
  
  span.content p {
    font-size: 1.3rem;
    line-height: 2rem;
  
    padding-bottom: .5rem;
  }
  
  
  
  /* .content a (link inside content) */
  
  .content a {
    color: white;
  }
  
  .content a:visited {
    color: white;
  }
  
  
  
  /* .relatedStory (list of related stories) */
  
  h4 {
    font-family: fira-sans, sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: rgba(0, 0, 0, .65);
  
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .related-story-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  
    margin: 0 -2.5%;
    padding: 0;
  }
  
  .related-story-one {
    width: 45%;
    height: 350px;
    margin: 2.5%;
  }
  
  .related-story {
    position: relative;
    width: 100%;
  }
  
  p.relatedStoryTitle {
    position: absolute;
  
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 60, 100, 0.7);
  
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
  }
  
   img.related-story-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  @media (max-width: 620px) {
    .related-story-one {
      width: 97.5%;
      margin: 0% 2.5%;
    }
  
    #line-above-related-stories {
      margin-bottom: 10px;
    }
  }