/* * {
  margin: 0;
  padding: 0;
} */

/* body */

body {
  font-family: questa-slab, serif;
  font-weight: 400;
  margin: 0;
  padding: 0;

  background-color: black;
  color: white;
}



/* .component */

.component {
  padding: 30px 0;
}



/* .safe-area */

.safe-area {
  position: relative;
  width: 80%;
  max-width: 900px;
  margin: auto auto auto 5%;
}

@media (max-width: 620px) {
  .safe-area {
    width: 90%;
  }
}

.safe-area > :last-child {
  margin-bottom: 0;
}



/* header (title, subtitle, and date) */

.header.component {
  position: relative;
  margin-top: 100vh;
  padding-bottom: 0;
}


#news-template > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 100%;
}

div.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  padding: 100px 0 20px 5%;

  background-color: rgba(20, 15, 30, 0.8);
}



/* h1 (title) */

div.title h1 {
  font-family: blenny, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6rem;
  line-height: 7rem;
  color: white;

  max-width: 80%;
  margin: 0;
}

@media (max-width: 620px) {
  div.title h1 {
    max-width: 95%;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}




/* h2 (subtitle) */

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.1rem;

  max-width: 70%;
  margin: 30px 0;
}

@media (max-width: 620px) {
  div.title h2 {
    max-width: 95%;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

h2.hidden {
  padding: 0;
  padding-bottom: 30px;
}



/* h3 (date) */

div.info {
  padding: 15px 0 20px 0;
  margin-bottom: 30px;
}

div.info .articleSource {
  float: left;
  color: white;
}

div.info .articleSource:visited {
  color: white;
}

h3 {
  display: block;
  float: right;

  font-size: 1rem;
  font-weight: 400;
  color: white;

  margin: 0;
}



/* .tags (tags) */

.tags {
  display: inline-block;

  padding: 10px;
  margin-right: 10px;

  font-size: 1rem;
  font-weight: 400;
  background-color: rgb(20, 15, 30);
}



/* .caption (image caption) */

.caption {
  display: inline;

  font-size: 1rem;
  font-weight: 400;

  color: white;
}



/* .articleSource (the source of the original article) */

.articleSource {
  font-size: 1rem;
  font-weight: 400;

  color: white;
}

.articleSource a:visited {
  color: white;
}



/* .teaser (teaser) */

div.line {
  width: 100%;
  border-top: solid 1px white;
}

div.line.hidden {
  display: none;
}

.teaser {
  font-size: 2rem;
  line-height: 3rem;
  color: white;
}

@media (max-width: 620px) {
  .teaser {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
}



/* .content (paragraphs) */

span.content p {
  font-size: 1.5rem;
  line-height: 2.3rem;

  color: white;

  padding-bottom: .5rem;
}

@media (max-width: 620px) {
  span.content p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: .3rem;
  }
}



/* .content a (link inside content) */

.content a {
  color: white;
}

.content a:visited {
  color: white;
}



/* .relatedStory (list of related stories) */

h4 {
  font-size: 12pt;
  font-weight: 700;
  color: white;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.related-story-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin: 0 -1.66%;
  padding: 0;
}

div.related-story-one {
  width: 30%;
  height: 220px;
  margin: 1.66%;
  overflow: hidden;
}

@media (max-width: 620px) {
  div.related-story-one {
    height: 250px;
  }
}

p.relatedStoryTitle {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: rgb(20, 15, 30);

  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}

img.related-story-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 620px) {
  div.related-story-one {
    width: 97.5%;
    margin: 20px 2.5%;
  }

  #line-above-related-stories {
    margin-bottom: 10px;
  }
}
