<!DOCTYPE html>
<html>
  <head>
    <title>News Story Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>[v-cloak] { display: none; }</style>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/tha4zph.css">
  </head>
  <body>
    <div id="news-template" v-cloak>

      <!-- Main Story -->

      <!-- Header -->
      <div class="header">
        <h1>{{ story.title }}</h1>
        <h2>{{ story.subtitle }}</h2>
        <h3>{{ story.date }}</h3>
      </div>

      <!-- Horizontal Line -->
      <div id="lineAboveTeaser"></div>

      <!-- Image -->
      <!-- <span v-for="tag in story.tags">{{ tag }}</span>
      <img v-bind:src="story.image.url">
      {{ story.image.caption }}
      <a v-bind:href="story.source.url">{{ story.source.name }}</a> -->

      <!-- Teaser -->
      <span v-html="story.teaser" class="teaser"></span>

      <!-- Horizontal Line -->
      <div id="lineBelowTeaser"></div>

      <!-- Content -->
      <span v-html="story.content" class="content"></span>

      <!-- Related Stories-->
      <!-- <ul>
        <li v-for="relatedStory in relatedStories">
          <div v-on:click="load(relatedStory)">
            {{ relatedStory.title }}
            <img v-bind:src="relatedStory.image.url">
          </div>
        </li>
      </ul> -->

      <!-- Useful debugging info, you can comment this section out when you don't need it. -->
      <!-- <pre>The story object: {{ story | json }}</pre>
      <pre>The relatedStories array: {{ relatedStories | json }}</pre> -->

    </div>

    <!-- Scripts here are what load the Vue library, and the actual story content. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script>
  </body>
</html>
