/* Set universal font */
* {
    font-family: 'Open Sans', sans-serif;
}

/* Set document background color */
body {
    background-color: rgb(242, 236, 231);
}

/* adjust for colors */
.macurh {
    color: #1F409A;
}

.bg-macurh {
    background-color: #1F409A;
}

.btn-primary {
    border-color: rgb(20, 44, 109);
}

.btn-primary:hover {
    background-color: rgb(20, 44, 109);
    border-color: rgb(20, 44, 109);
}

/* Rule for max width */
.mw-800 {
    max-width: 800px;
}

.mw-1100 {
    max-width: 1100px;
}

/* Style alert */
.custom-alert {
    margin-bottom: 0px; 
    background-color: rgb(179, 22, 22); 
    border-color: rgb(141, 13, 13);
}

/* Set max height for items in carousel */
.carousel-item {
    max-height: 38rem;
}

/* Add text shadow to carousel captions */
.carousel-text-shadow {
    text-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}

/* Custom styling of footer links */
.footer-link {
    color: white;
}